body{
    background-color: black;
    color: antiquewhite;
}
.navbarcontainer{
    background-color: black;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 90px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 3em red;
}
.nevlist{
    display: inline;
    list-style: none;
    float: right;
    padding: 8px;
    font-size: 20px;
    font-family: cursive;
    margin: 5px;
}
.nevlist:hover{
    color: chartreuse;
    font-size:25px;
    cursor: pointer;
}
.heading,.ourwork_heading{
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    margin-top:10px ;
    font-weight: bolder;
}
.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 80vh;
}
.webdev,.appdev,.cybersecurity{
    border: 2px white solid;
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 3em blueviolet;
    transition-duration: .5s;
}
.middleimages{
    height: 250px;
    width: 250px;
    padding: 30px;
}
.webdev:hover,.appdev:hover,.cybersecurity:hover{
   transform: scale(85%);
}
.ourwork{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 10px;
}
.workimage{
    border: 2px wheat solid;
    height: 200px;
    width: 350px;
}